# Development dependencies for pypistats.org
# To update all dependencies and hashes: make update-deps
# To install: pip install -r requirements-dev.txt

# Development tools only - production deps are in requirements.txt
-c requirements.txt
black
isort
pip-tools
pytest
pytest-cov
pytest-flask
pytest-postgresql
